node_modules/
.next
.awcache
/packages/adaptable/dist
/packages/adaptable/examples/package-lock.json
/packages/adaptable-react-aggrid/package-lock.json
.DS_Store
.env

# ignore symlink in angular project

/packages/adaptable-ng-aggrid/projects/adaptable-angular-aggrid/src/adaptable
/packages/adaptable-ng-aggrid/dist
**/package-lock.json
package-lock.json

/packages/adaptable/apidoc
/apidoc
yarn.lock
dist
.npmrc
