node_modules/
.vscode/
.next
.awcache
/packages/adaptableblotter/dist
/packages/adaptableblotter/examples/package-lock.json
/packages/adaptableblotter-react-aggrid/package-lock.json
.DS_Store
.env
/packages/adaptableblotter/App_Scripts/**/*.d.ts

# ignore symlink in angular project

/packages/adaptableblotter-ng-aggrid/projects/adaptableblotter-angular-aggrid/src/adaptableblotter 
**/package-lock.json
package-lock.json

/packages/adaptableblotter/apidoc
/apidoc
yarn.lock
dist