.ab-ErrorBox {
  padding: var(--ab-cmp-error-box__padding);
  border-radius: var(--ab-cmp-error-box__border-radius);
  background: var(--ab-cmp-error-box__background);
  color: var(--ab-cmp-error-box__color);
}
