
:root {
  --ab-space-0: 0px;
  --ab-space-1: 4px;
  --ab-space-2: 8px;
  --ab-space-3: 16px;
  --ab-space-4: 32px;
  --ab-space-5: 64px;
  --ab-space-6: 128px;
  --ab-space-7: 256px;

  --ab-font-size-0: 12px;
  --ab-font-size-1: 14px;
  --ab-font-size-2: 16px;
  --ab-font-size-3: 20px;
  --ab-font-size-4: 24px;
  --ab-font-size-5: 32px;
  --ab-font-size-6: 48px;
  --ab-font-size-7: 64px;

  --ab__border-radius: var(--ab-space-1);
  --ab-color-secondarybackground: #e8e8e8;
  
  --ab-color-inputborder: var(--ab-color-secondarybackground);
  
  --ab-color-textgray: rgba(95, 95, 95, 0.87);
  --ab-color-inputcolor: var(--ab-color-textgray);
  --ab-color-darkgray: #737373;
  --ab-color-gray: #eeeeee;
  --ab-color-error: #dc3545;
  --ab-color-errorlight: #ffd3d2;
  --ab-color-warn: #eb9316;
  --ab-color-info: #17a2b8;
  --ab-color-green: #419641;
  --ab-color-blue: #07c;
  --ab-color-accent: #07c;
  --ab-color-success: var(--ab-color-green);
  --ab-color-accentlight: #dbf0ff;
  --ab-color-primarybackground: #f5f5f5;
  --ab-color-white: white;
  --ab-icon-fill: currentColor;
  --ab-focus__box-shadow: 0 0 5px 1px var(--ab-color-accent);
  --ab-focus__outline: none;
}

.ab-style__list-group-item:nth-child(2n+1) {
  background: var(--ab-color-gray);
}

@import './components/CheckBox/base.scss';
@import './components/Dialog/base.scss';
@import './components/Dropdown/base.scss';
@import './components/DropdownButton/base.scss';
@import './components/EmptyContent/base.scss';
@import './components/ErrorBox/base.scss';
@import './components/FieldWrap/base.scss';
@import './components/FormLayout/base.scss';
@import './components/HelpBlock/base.scss';
@import './components/Input/base.scss';
@import './components/List/ListGroup/base.scss';
@import './components/List/ListGroupItem/base.scss';
@import './components/Modal/base.scss';
@import './components/Panel/base.scss';
@import './components/SimpleButton/base.scss';
@import './components/Textarea/base.scss';
@import './components/Tooltip/base.scss';
@import './View/Components/AdaptableObjectCollection/base.scss';
@import './View/AdaptablePopover/base.scss';
@import './View/Components/Buttons/ButtonBase/base.scss';
@import './View/Components/Panels/PanelDashboard/base.scss';
@import './View/Dashboard/base.scss';


// TODO do we need this?
.popover-content {
  padding: 1px;
}
