:root {
  --ab-space-0: 0px;
  --ab-space-1: 4px;
  --ab-space-2: 8px;
  --ab-space-3: 16px;
  --ab-space-4: 32px;
  --ab-space-5: 64px;
  --ab-space-6: 128px;
  --ab-space-7: 256px;

  --ab-font-size-0: 12px;
  --ab-font-size-1: 14px;
  --ab-font-size-2: 16px;
  --ab-font-size-3: 20px;
  --ab-font-size-4: 24px;
  --ab-font-size-5: 32px;
  --ab-font-size-6: 48px;
  --ab-font-size-7: 64px;

  --ab-color-lightgray: #e8e8e8;
  --ab-color-textgray: rgba(95, 95, 95, 0.87);
  --ab-color-gray: #eeeeee;
  --ab-color-error: #a94442;
  --ab-color-blue: #07c;
  --ab-color-accent: #07c;
  --ab-color-almost-white: #f5f5f5;
  --ab-color-white: white;
  --ab-icon-fill: currentColor;
  --ab-info-gradient: linear-gradient(180deg, #337ab7 0, #2e6da4);
  --ab-focus-outline: 3px auto -webkit-focus-ring-color;
}

*:focus {
  outline: var(--ab-focus-outline) !important;
  outline-offset: -2px !important;
}

.ab_main_popup.ab_main_popup {
  height: 60vh;
}
.ab_main_wizard.ab_main_wizard {
  height: 100%;
  min-height: 60vh;
}

@import './components/Panel/base.scss';
@import './components/Modal/base.scss';
@import './components/Dialog/base.scss';
@import './components/EmptyContent/base.scss';
@import './components/Dropdown/base.scss';
@import './components/SimpleButton/base.scss';
@import './components/Tooltip/base.scss';
@import './View/Components/Buttons/ButtonBase/base.scss';
@import './View/Dashboard/base.scss';
