:root {
  --ab-cmp-textarea__padding: var(--ab-space-1) var(--ab-space-2); 
  --ab-cmp-textarea__border-radius: var(--ab__border-radius);
  --ab-cmp-textarea__border: 1px solid var(--ab-color-inputborder);
}
