html,
body,
#__next {
  height: 100%;
}

html {
  font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
}

#grid {
  height: 85%;
}
.evenRowStyle {
  background: lightgrey !important;
  font-weight: normal !important;
  font-style: italic !important;
}
.oddRowStyle {
  background: lightgreen !important;
  font-weight: normal !important;
  font-style: italic !important;
}
.allRowStyle {
  background: pink !important;
  font-weight: normal !important;
  font-style: italic !important;
}



html.ab--theme-liverpool {
  font-family: Helvetica, Arial, sans-serif;
  --ab-theme-loaded: 777;

  --ab-dashboard__background: orchid;
  --ab-cmp-input--disabled__background: green;

  --ab-color-defaultbackground: #98ff98;
  --ab-color-text-on-defaultbackground: purple;

  --ab-color-primary: purple;
  --ab-color-primarylight: green;
  --ab-color-primarydark: blue;
  --ab-color-text-on-primary: white;

  --ab-color-secondary: green;
  --ab-color-secondarylight: #07456d;
  --ab-color-secondarydark: purple;
  --ab-color-text-on-secondary: purple;
  --ab-color-text-on-secondarylight: red;
}

html.ab--theme-custom-theme {
  --ab-theme-loaded: custom-theme;

  --ab-color-primary: #608860;
  --ab-color-primarydark: #315d31;
  --ab-color-primarylight: #a5c3a5;
  --ab-color-text-on-primary: white;

  --ab-color-defaultbackground: var(--ab-color-primary);
}

