html,
body,
#__next {
  height: 100%;
}

#grid {
  height: 85%;
}
.evenRowStyle {
  background: lightgrey !important;
  font-weight: normal !important;
  font-style: italic !important;
}
.oddRowStyle {
  background: lightgreen !important;
  font-weight: normal !important;
  font-style: italic !important;
}
.allRowStyle {
  background: pink !important;
  font-weight: normal !important;
  font-style: italic !important;
}


html.ab--theme-custom-theme {
  --ab-theme-loaded: custom-theme;

  --ab-color-primary: #608860;
  --ab-color-primarydark: #315d31;
  --ab-color-primarylight: #a5c3a5;
  --ab-color-text-on-primary: white;

  --ab-color-defaultbackground: var(--ab-color-primary);
}

html.ab--theme-liverpool {
  --ab-theme-loaded: liverpool;

  --ab-color-primary: red;
  --ab-color-primarydark: green;
  --ab-color-primarylight: lightyellow;
  --ab-color-text-on-primary: red;

  --ab-color-defaultbackground: var(--ab-color-primary);
}