.ab-SimpleButton {
  &:focus {
    box-shadow: var(--ab-focus__box-shadow);
    outline: var(--ab-focus__outline);
  }
  padding: var(--ab-cmp-simple-button__padding);
  font-family: var(--ab-cmp-simple-button__font-family);
  font-size: var(--ab-cmp-simple-button__font-size);
}

.ab-SimpleButton.ab-SimpleButton {
  vertical-align: middle;
  & > * {
    z-index: 1;
  }
  svg {
    vertical-align: middle;
  }
  border-radius: var(--ab-cmp-simple-button__border-radius);
  color: var(--ab-color-text-on-primary);
  position: relative;
  overflow: hidden;
  display: inline-flex;
  flex-flow: row;
  flex: none;
  align-items: center;
  fill: currentColor;

   &--tone-neutral {
    color: var(--ab-color-text-on-primary);
  }

  &--tone-success {
    color: var(--ab-color-success);
  }
  &--tone-accent {
    color: var(--ab-color-text-on-secondary);
  }
  &--tone-error {
    color: var(--ab-color-error);
  }
  
  &--disabled {
    opacity: 0.5;
  }

  &:before {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 0;
    border-radius: inherit;
  }

  &--variant-outlined,
  &--variant-text {
    transition: opacity 0.2s;
    &:before {
      content: '';
      opacity: 0;
      transition: opacity 0.2s;
    }
    &:hover:not(.ab-SimpleButton--disabled) {
      cursor: pointer;
      &:before {
        opacity: 0.15;
        background-color: currentColor;
      }
    }
  }
  &--variant-text {
    background: transparent;
  }

  &--variant-outlined {
    background: var(--ab-cmp-simple-button--outlined__background);
    border-width: var(--ab-cmp-simple-button--outlined__border-width);
    border-color: currentColor;
    border-style: solid;
  }

  &--variant-raised {
    color: var(--ab-color-text-on-primary);
    
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    transition: box-shadow .28s cubic-bezier(.4,0,.2,1), -webkit-box-shadow .28s cubic-bezier(.4,0,.2,1);

    &:focus {
      box-shadow: var(--ab-focus__box-shadow);
    }

    &:hover {
      box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    }

    &.ab-SimpleButton--tone-success {
      background: var(--ab-color-success);
      color: var(--ab-color-text-on-success);
      &:not(.ab-SimpleButton--disabled) {
        opacity: 1;
      }
    }

    &.ab-SimpleButton--tone-accent {
      background: var(--ab-color-secondary);
      color: var(--ab-color-text-on-secondary);
      &:not(.ab-SimpleButton--disabled) {
        opacity: 1;

      }
    }
    &.ab-SimpleButton--tone-none {
      background: transparent;
      &:not(.ab-SimpleButton--disabled) {
        opacity: 1;
      }
    }
    &.ab-SimpleButton--tone-neutral {
      background: var(--ab-color-primary);
      color: var(--ab-color-text-on-primary);
      &:not(.ab-SimpleButton--disabled) {
        opacity: 1;

      }
    }
    &.ab-SimpleButton--tone-error {
      background: var(--ab-color-error);
      color: var(--ab-color-text-on-error);
      &:not(.ab-SimpleButton--disabled) {
        opacity: 1;

      }
    }
    &.ab-SimpleButton--tone-warning {
      background: var(--ab-color-warn);
      color: var(--ab-color-text-on-warn);
      &:not(.ab-SimpleButton--disabled) {
        opacity: 1;

      }
    }
    &.ab-SimpleButton--tone-info {
      background: var(--ab-color-info);
      color: var(--ab-color-text-on-info);
      &:not(.ab-SimpleButton--disabled) {
        opacity: 1;

      }
    }
  }
}
