:root {
  --ab-cmp-simple-button__padding: var(--ab-space-1) var(--ab-space-1); 
  --ab-cmp-simple-button__border-radius: var(--ab__border-radius);
  --ab-cmp-simple-button--outlined__background: var(--ab-color-defaultbackground);
  --ab-cmp-simple-button--outlined__border-width: 2px;
  --ab-cmp-simple-button__font-size: var(--ab-font-size-2);
  --ab-cmp-simple-button__font-family: var(--ab__font-family);
}
