:root {
  --ab-cmp-simple-button__padding: var(--ab-space-1) var(--ab-space-2); 
  --ab-cmp-simple-button__border-radius: var(--ab-space-1);
  --ab-cmp-simple-button--outlined__background: white;
  --ab-cmp-simple-button--outlined__border-width: 2px;
}
