:root {
  --ab-cmp-simple-button-padding: var(--ab-space-1) var(--ab-space-2); 
  --ab-cmp-simple-button-radius: var(--ab-space-1);
  --ab-cmp-simple-button--outlined-background: white;
  --ab-cmp-simple-button--outlined-border-width: 2px;
}
