.ab-HelpBlock {
  padding: var(--ab-cmp-help-block__padding);
  background: var(--ab-cmp-help-block__background);
  border-radius: var(--ab-cmp-help-block__border-radius);
  color: var(--ab-cmp-help-block__color);
}
