:root {
  --ab-cmp-listgroupitem__width: 100%;

  --ab-cmp-listgroupitem__background: var(--ab-color-primary);
  --ab-cmp-listgroupitem__color: var(--ab-color-text-on-primary);
  --ab-cmp-listgroupitem__border-radius: 0px;

  --ab-cmp-listgroupitem--odd__background: var(--ab-color-primarylight);
  --ab-cmp-listgroupitem--odd__color: var(--ab-color-text-on-primary);

  --ab-cmp-listgroupitem--active__background: var(--ab-color-secondary);
  --ab-cmp-listgroupitem--active__color: var(--ab-color-text-on-secondary);
}