:root {
  --ab-cmp-listgroupitem-width: 100%;

  --ab-cmp-listgroupitem-background: var(--ab-color-lightgray);
  --ab-cmp-listgroupitem-color: var(--ab-color-textgray);

  --ab-cmp-listgroupitem-background-odd: var(--ab-color-almost-white);
  --ab-cmp-listgroupitem-color-odd: var(--ab-color-textgray);
}