input.ab-Input {
  background: var(--ab-cmp-input__background);

  &[disabled] {
    background: var(--ab-cmp-input--disabled__background);
  }
}
.ab-Input {
  padding: var(--ab-cmp-input__padding);
  color: var(--ab-cmp-input__color);

  border-radius: var(--ab-cmp-input__border-radius);
  border: var(--ab-cmp-input__border);

  font-family: var(--ab-cmp-input__font-family);
  font-size: var(--ab-cmp-input__font-size);


  &:focus {
    box-shadow: var(--ab-focus__box-shadow);
    outline: var(--ab-focus__outline);
  }


  /* WebKit, Edge */
&::-webkit-input-placeholder {
  color: var(--ab-cmp-input--placeholder__color);
  opacity: var(--ab-cmp-input--placeholder__opacity);
}
/* Firefox 4-18 */
&:-moz-placeholder { 
  color: var(--ab-cmp-input--placeholder__color);
  opacity: var(--ab-cmp-input--placeholder__opacity);
}
/* Firefox 19+ */
&::-moz-placeholder { 
  color: var(--ab-cmp-input--placeholder__color);
  opacity: var(--ab-cmp-input--placeholder__opacity);
}
/* IE 10-11 */
&:-ms-input-placeholder { 
  color: var(--ab-cmp-input--placeholder__color);
  opacity: var(--ab-cmp-input--placeholder__opacity);
}
/* Edge */
&::-ms-input-placeholder { 
  color: var(--ab-cmp-input--placeholder__color);
  opacity: var(--ab-cmp-input--placeholder__opacity);
}
/* MODERN BROWSER */
&::placeholder { 
  color: var(--ab-cmp-input--placeholder__color);
  opacity: var(--ab-cmp-input--placeholder__opacity);
}
}
