:root {
  --ab-cmp-input__padding: var(--ab-space-2);
  --ab-cmp-input__border-radius: var(--ab__border-radius);
  --ab-cmp-input__border: 1px solid var(--ab-color-inputborder);
  --ab-cmp-input--disabled__background: var(--ab-color-gray);
}
