.ab-Radio-input {

  &:focus + svg rect {
    stroke: var(--ab-color-accent);
    stroke-width: 2;
  }
  &:focus + svg {
    outline: 2px solid var(--ab-color-accent);
  }
  &:checked + svg rect,
  &:checked + svg polyline {
    stroke: currentColor;
  }
  &:checked + svg polyline {
    animation: abRadioCheckAnimation 0.5s ease forwards;
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
  }
  & input:focus {
    box-shadow: var(--ab-focus__box-shadow);
    outline: var(--ab-focus__outline);
  }
}

@keyframes abRadioCheckAnimation {
  100% {
    stroke-dashoffset: 0;
  }
}
