.flex {
  display: flex;
  align-items: center;
}
.grow {
  flex: 1;
}
.full-width {
  width: 100%;
}
.mb-1 {
  margin-bottom: 2px;
}
.builder {
  border: 1px solid #ccc;
  padding: 10px;
  /* margin: 2px; */
}
