body {
  font-size: 12px;
  line-height: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
select,
input {
  vertical-align: middle;
  display: inline-block;
  margin-right: 5px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 6px;
  height: 18px;
  box-sizing: border-box;
}
.flex {
  display: flex;
}
.grow {
  flex: 1;
}
.full-width {
  width: 100%;
}
.box {
  margin-top: -1px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}
