body {
  font-size: 12px;
  line-height: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
select,
input,
button {
  /* vertical-align: middle; */
  display: inline-block;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
select,
input {
  margin-right: 5px;
  height: 18px;
}
input {
  padding-left: 6px;
}
.flex {
  display: flex;
}
.grow {
  flex: 1;
}
.full-width {
  width: 100%;
}
.box {
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}
button.add {
  border: none;
  border-top: 1px solid #ccc;
  border-radius: 0;
  width: 100%;
  display: block;
}
