:root {
  // --ab-cmp-panel_header__background: linear-gradient(
  //   180deg,
  //   var(--ab-color-primary) 0,
  //   var(--ab-color-primarydark)
  // );
  --ab-cmp-panel_header__background: var(--ab-color-primary);

  --ab-cmp-panel__font-size: var(--ab__font-size);

  --ab-cmp-panel__border-radius: var(--ab__border-radius);
  --ab-cmp-panel__padding: var(--ab-space-2);
  --ab-cmp-panel__max-height: 80vh;
  --ab-cmp-panel__border: 1px solid var(--ab-color-inputborder);
  --ab-cmp-panel-icon__fill: var(--ab-icon-fill);

  --ab-cmp-panel_body__background: var(--ab-color-defaultbackground);
  --ab-cmp-panel_body__color: inherit;
  
  --ab-cmp-panel_header__padding: var(--ab-space-2);
  --ab-cmp-panel_header__color: var(--ab-color-text-on-primary);

  --ab-cmp-panel_header--variant-primary__background: var(--ab-color-secondary);//linear-gradient(180deg, var(--ab-color-secondary) 0, var(--ab-color-secondarydark));
  --ab-cmp-panel_header--variant-primary__color: var(--ab-color-text-on-secondary);
}
