html.ab--theme-dark {
  font-family: Helvetica, Arial, sans-serif;
  --ab-theme-loaded: dark;

  --ab-dashboard__background: #232323;
  --ab-cmp-input--disabled__background:#b6b7b8;

  --ab-color-defaultbackground: #3e444c;
  --ab-color-text-on-defaultbackground: #f7f7f7;

  --ab-color-primary: #262d2f;
  --ab-color-primarylight: #2d3537;
  --ab-color-primarydark: #1c2021;
  --ab-color-text-on-primary: #f7f7f7;

  --ab-color-secondary: #f7f7f7;
  --ab-color-secondarylight: #07456d;
  --ab-color-secondarydark: #f7f7f7;
  --ab-color-text-on-secondary: #262d2f;
  --ab-color-text-on-secondarylight: #f7f7f7;

  input[type="number"].ab-Input::-webkit-outer-spin-button,
  input[type="number"].ab-Input::-webkit-inner-spin-button {
    background: url("data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"18\" height=\"20\" viewBox=\"4 0 18 18\" version=\"1.1\"><path fill=\"%23f7f7f7\" d=\"M7 10l5 5 5-5z\" transform=\"translate(0, 2)\"/><path fill=\"%23f7f7f7\" d=\"M7 14l5-5 5 5z\" transform=\"translate(0, -6)\"/></svg>") no-repeat center center;
  }

}


