html,
body,
#__next {
  height: 100%;
}

#grid {
  height: 88%;
}
html {
  font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
}
.number-cell {
  text-align: right;
}

.doublebutton {
  background-color:lightgreen;
  padding: 20px;
  border: none;
  color: black;
  font-style: italic
}
.treblebutton {
  background-color:lightblue;
  border: none;
  color: black;
  border-radius: 12px;
  font-size: smaller;
 margin: 0px
}