.modal-dialog{
    position: relative;
    display: table;
    overflow-y: auto;    
    overflow-x: auto;
    width: auto;
    min-width: 300px;  
}

button.placeholder {background: #87D0FA;}
button.placeholder:before {
  content: "Drop here";
  color: White;
}

.no-padding-panel > [class*='panel-body'] {
    padding-right:0;
	padding-left: 0;
	padding-bottom: 0;
	padding-top: 5px;
}

.small-padding-panel > [class*='panel-body'] {
    padding: 5px;
}

.small-padding-panel {
    margin-bottom: 0px!important; 
}

.panel-with-button-reduce-header-padding > [class*='panel-heading'] {
	padding-top: 5px;
	padding-bottom: 5px;
}

.panel-with-button > [class*='panel-heading']  > [class*='panel-title'] {
	font-size: 14px;
}

.adaptable_blotter_readonly button,
.adaptable_blotter_readonly .adaptable_blotter_div_like_button,
.adaptable_blotter_readonly select,
.adaptable_blotter_readonly input,
.adaptable_blotter_readonly .radio{
    opacity: 0.65; 
    pointer-events: none;
}

.scale-lg{font-size: 1.4em;}
.scale-2x{font-size: 2em;}
.scale-3x{font-size: 3em;}
.scale-4x{font-size: 4em;}
.scale-5x{font-size: 5em;}

.drop-down {
  display: inline-block;
}
.menu-button {
  color: white;
  background-color: #2ead6d;
  border: 0;
  padding: 20px 25px;
  font-size: 30px;
  transition: background-color 150ms ease-in;
}
.menu-button-selected {
  background-color: #5943aa;
  transition: background-color 150ms ease-in;
}
.menu-button:hover {
  background-color: #5943aa;
  transition: background-color 150ms ease-in;
}
.menu-popup {
  display: inline-block;
  white-space: nowrap;
  background-color: #6699cc;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  padding: 10px 0 10px 0;
  opacity: 0;
  box-shadow: 15px 15px 0 rgba(0, 0, 0, 0.35);
}
.menu-popup.showing {
  opacity: 1;
  transition: opacity 150ms ease-in;
}
.menu-item {
  display: block;
  width: 100%;
  color: white;
  background-color: #6699cc;
  padding: 5px 10px 5px 10px;
  font-size: 15px;
  border: 0;
}
.menu-item-button {
  line-height: 15px;
  text-align: left;
  transition: background-color 150ms ease-in;
}
.menu-item-button:hover {
  background-color: #5943aa;
  transition: background-color 150ms ease-in;
}
.menu-item-button span {
  line-height: inherit;
}
.menu-item-selected {
  background-color: #5943aa;
  transition: background-color 150ms ease-in;
}
.menu-item-label {
  text-align: left;
  font-weight: normal;
  font-style: italic;
  padding: 5px 10px 5px 10px;
  line-height: 15px
}
.menu-item-separator {
  border: 0;
  height: 0;
  width: auto;
  border-bottom: 4px dotted rgba(255, 255, 255, 0.35);
  padding: 0;
  margin: 10px 0;
}
.menu-item:focus {
  outline: 0;
}
.menu-item span {
  float: left;
}
.menu-item-expandable {
  padding-right: 0;
}
.menu-item-link a {
  color: #ffcc00;
}
.fa.fa-chevron-right {
  float: right;
  line-height: inherit;
  margin-left: 15px;
  padding-right: 5px;
  font-size: 1em;
}

/*Dont want to use FontAwesome lib so replace icon by char*/
.fa-chevron-right:before {
    content: ">";
}
