<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Adaptable Blotter Hypergrid Demo</title>
    <!--CSS for the Adaptable Blotter-->
    <link href="adaptableblotter/adaptableblotter-style.css" rel="stylesheet" />
    <!--CSS for the demo-->
    <link href="hypergriddemo.css" rel="stylesheet" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <!-- Latest Hypergrid -->
    <script src="https://openfin.github.io/fin-hypergrid/build/fin-hypergrid.js"></script>

</head>
<body>
    <!-- Adaptable Blotter div for react and dashboard -->
    <div id="content" style="margin:15px;"></div>
    <p/>
    <!-- Grid div -->
    <div id="grid"></div>
    <% for (key in htmlWebpackPlugin.files.chunks) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[key].entry %>" type="text/javascript"></script>
    <% } %>
    <!-- Grid Setup -->
    <script src="hypergriddemo.js"></script>
    <script>
        InitBlotter()
    </script>
</body>
</html>