
<!DOCTYPE html>
<html>
<body style="background-color:#737f84;">
<p><img src="http://images8.webydo.com/93/9340882/3958%2f268BFDCA-400A-104D-DC0C-F6C658386289.png_400" alt="" width="151" height="89" /></p>
<% if (htmlWebpackPlugin.options.version) { %>
<h1>Adaptable Blotter Demos (alpha version <%= htmlWebpackPlugin.options.version %> <%= htmlWebpackPlugin.options.versiondate %>)</h1>
<% } %>
<h3><img src="https://openfin.co/wp-content/uploads/2017/01/OpenFin.png" alt="" width="130" height="38" />OpenFin Hypergrid:&nbsp;<a href="hypergriddemo.html">Online Demo</a></h3>
<h3><img src="http://docs.telerik.com/kendo-ui/images/kendo-ui.png" alt="" width="193" height="35" />Telerik Kendo:&nbsp;<a href="kendodemo.html">Online Demo</a></h3>
<p>&nbsp;</p>
<h3>Download demo zip file:&nbsp;<a href="dist.zip">dist.zip</a></h3></body>
</html>
