.ab-DropdownButton {
  position: relative;
}
.ab-DropdownButton__list {
  text-align: start;
  padding: var(--ab-space-1) 0;

}
.ab-DropdownButton__content {
  max-width: 100%;
  width: 100%;
}
.ab-DropdownButton__list-item {
  fill: currentColor;
  color: var(--ab-cmp-dropdownbutton-list-item-color);
}
.ab-DropdownButton__list-item--not-clickable {
  cursor: auto;
}

.ab-DropdownButton__list-item--clickable:hover {
  background: var(--ab-cmp-dropdownbutton-list-item-background-hover);
  color: var(--ab-cmp-dropdownbutton-list-item-color-hover);
  fill: currentColor;
}