:root {
  --ab-cmp-dropdownbutton-list-border: 2px solid var(--ab-color-darkgray);
  --ab-cmp-dropdownbutton-list-background: var(--ab-color-white);
  --ab-cmp-dropdownbutton-list-item-padding: var(--ab-space-2);
  --ab-cmp-dropdownbutton-list-item-background-hover: var(--ab-color-textgray);
  --ab-cmp-dropdownbutton-list-item-color-hover: var(--ab-color-white);
  --ab-cmp-dropdownbutton-list-item-color: inherit;
  --ab-cmp-dropdownbutton-list-zindex: 100;
  --ab-cmp-dropdownbutton-list-border-radius: var(--ab-space-1);
}