.ab-ColumnList {

  padding: var(--ab-space-2);
  background: var(--ab-color-defaultbackground);
}

.ab-RowGroupsList--empty,
.ab-ColumnSortList--empty {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

}
.ab-RowGroupsList__column,
.ab-ColumnSortList__column,
.ab-ColumnList__column {
  background: var(--ab-color-primary);
  color: var(--ab-color-text-on-primary);
  margin: 0 0 var(--ab-space-2) 0;
  padding: var(--ab-space-2);
}
