.ab-LayoutEditor{
  overflow: auto;
  &,& * {
    box-sizing: border-box;
  }
}
.ab-ColumnList {
  display: block;
}

.ab-PivotList--empty,
.ab-RowGroupsList--empty,
.ab-ColumnSortList--empty {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

}

.ab-PivotList,
.ab-RowGroupsList,
.ab-ColumnSortList {
  padding-top: var(--ab-space-2);

}
.ab-PivotList__column,
.ab-RowGroupsList__column,
.ab-ColumnSortList__column,
.ab-ColumnList__column {
  background: var(--ab-color-primary);
  color: var(--ab-color-text-on-primary);
  margin: 0 0 var(--ab-space-2) 0;

}

.ab-PivotList__column,
.ab-RowGroupsList__column,
.ab-ColumnSortList__column {
  padding-top: var(--ab-space-2);
  padding-bottom: var(--ab-space-2);
}
