.modal-dialog{
    position: relative;
    display: table;
    overflow-y: auto;    
    overflow-x: auto;
    width: auto;
    min-width: 300px;  
}

		.FlashUp {
			background-color: green;
			color: white;
		}
		
		.FlashDown {
			background-color: red;
			color: white;
		}

    	.Green {
			background-color: green;
			color: white;
		}

		.LightGreen {
			background-color: lightgreen;
			color: white;
		}

    	.Red {
			background-color: red;
			color: white;
		}

    	.Blue {
			background-color: blue;
			color: white;
		}

    	.Yellow {
			background-color: yellow;
			color: black;
		}

		.LightYellow {
			background-color: lightyellow;
			color: black;
		}

    	.Orange {
			background-color: orange;
			color: white;
		}

    	.Purple {
			background-color: purple;
			color: white;
		}


    	.Pink {
			background-color: pink;
			color: black;
		}

		.GreenFont {
			font-weight: bold;
			color: green;
		}

		.RedFont {
			font-weight: bold;
			color: red;
		}

		

button.placeholder {background: #87D0FA;}
button.placeholder:before {
  content: "Drop here";
  color: White;
}

.no-padding-panel > [class='panel-body'] {
    padding:0;
}

