html,
body,
#__next {
  height: 100%;
}

#grid {
  height: 60%;
}
.evenRowStyle {
  background: lightgrey !important;
  font-weight: normal !important;
  font-style: italic !important;
}
.oddRowStyle {
  background: lightgreen !important;
  font-weight: normal !important;
  font-style: italic !important;
}
.allRowStyle {
  background: pink !important;
  font-weight: normal !important;
  font-style: italic !important;
}
