.ab-Dropdown {
  background: var(--ab-color-defaultbackground);
  border: var(--ab-cmp-dropdown__border);
  border-radius: var(--ab-cmp-dropdown__border-radius);
  position: relative;
  min-width: 120px;
  max-width: 300px;
  font-family: var(--ab-cmp-dropdown__font-family);
  font-size: var(--ab-cmp-dropdown__font-size);

  &--focused {
    box-shadow: var(--ab-focus__box-shadow);
    outline: var(--ab-focus__outline);
  }

  &__text {
    color: var(--ab-cmp-dropdown__color);

    padding: var(--ab-cmp-dropdown__padding);
    pointer-events: none;
    position: relative;
    cursor: pointer;
    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
  }

  
  &--empty {
    .ab-Dropdown__text {
      color: var(--ab-color-text-on-defaultbackground);
    }
  }

  select {
    font-family: inherit;
    font-size: inherit;
    position: absolute;
    cursor: pointer;
  }

  .ab-SimpleButton {
    color: var(--ab-cmp-dropdown__color) !important;
  }
}