.ab-Dropdown {
  background: var(--ab-color-white);
  border: var(--ab-cmp-dropdown__border);
  border-radius: var(--ab-cmp-dropdown__border-radius);
  position: relative;
  min-width: 120px;
  max-width: 300px;

  &--focused {
    outline: var(--ab-focus__outline);
    outline-offset: -2px;
  }

  &__text {
    padding: var(--ab-space-2);
    pointer-events: none;
    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;

  }
  &--empty {
    .ab-Dropdown__text {
      color: var(--ab-color-textgray);
    }
  }

  select {
    position: absolute;
    
  }
}