.ab-Dropdown {
  background: var(--ab-color-white);
  border: var(--ab-cmp-dropdown__border);
  border-radius: var(--ab-cmp-dropdown__border-radius);
  position: relative;
  min-width: 120px;
  max-width: 300px;

  &--focused {
    box-shadow: var(--ab-focus__box-shadow);
    outline: var(--ab-focus__outline);
  }

  &__text {
    color: var(--ab-cmp-dropdown__color);

    padding: var(--ab-space-2);
    pointer-events: none;
    position: relative;
    cursor: pointer;
    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;

  }

  
  &--empty {
    .ab-Dropdown__text {
      color: var(--ab-color-textgray);
    }
  }

  select {
    position: absolute;
    cursor: pointer;
  }

  .ab-SimpleButton {
    color: var(--ab-cmp-dropdown__color) !important;
  }
}