:root {
  --ab-cmp-dropdown__color: var(--ab-color-inputcolor);
  --ab-cmp-dropdown--empty__color: var(--ab-color-textgray);
  --ab-cmp-dropdown__border: 1px solid var(--ab-color-gray);
  --ab-cmp-dropdown__border-radius: var(--ab__border-radius);
  --ab-cmp-dropdown__fill: var(--ab__color-darkgray);
}