.ab-Modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}
.ab-Modal-backdrop {
  background: var(--ab-cmp-modal-backdrop-bg);
  z-index: 900;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
