:root {
  --ab-cmp-button-border-radius: 0px;
  --ab-cmp-button-disabled-opacity: 0.5;
  --ab-cmp-button-background: var(--ab-color-primary);
  --ab-cmp-button-disabled-background:var(--ab-color-primarydark);
}