:root {
  --ab-cmp-popover__border-radius: var(--ab__border-radius); 
  --ab-cmp-popover__background: var(--ab-color-defaultbackground); 
  --ab-cmp-popover__box-shadow: var(--ab-cmp-dropdownbutton-list__box-shadow); 
  --ab-cmp-popover__border: 1px solid var(--ab-color-primarydark);
  
}
