.ab-DashboardPanel {
  .ab-CheckBox:not(.ab-dd-checkbox),
  .ab-SimpleButton.ab-SimpleButton {
    fill: currentColor;
    color: var(--ab-cmp-dashboardpanel_header__color);
    border-color: currentColor;
  }

  .glyphicon.glyphicon {
    color: var(--ab-cmp-dashboardpanel__fill);
  }
}