.ab-Dashboard__inner {
  flex-wrap: wrap;
  flex-direction: row;
  
   &>ul {
     flex: 0 0 auto;
   }
}

.ab-Dashboard__container > * {
  height: 100%;
}

.ab-Dashboard {
  background: var(--ab-dashboard__background);
  border-radius: var(--ab-dashboard__border-radius);
}