:root {
  --ab-cmp-wizard__padding: var(--ab-space-5);
  --ab-cmp-wizard__margin: var(--ab-space-1);

  --ab-cmp-wizard__background: var(--ab-color-primary);
  --ab-cmp-wizard__color: var(--ab-color-text-on-primary);

}