:root {
  --ab-cmp-input__padding: var(--ab-space-2);
  --ab-cmp-input__color: var(--ab-color-inputcolor);
  --ab-cmp-input__background: var(--ab-color-defaultbackground);
  --ab-cmp-input__border-radius: var(--ab__border-radius);
  --ab-cmp-input__border: 1px solid var(--ab-color-primarydark);
  --ab-cmp-input--disabled__background: var(--ab-color-primarylight);

  --ab-cmp-input__font-size: var(--ab-font-size-2);  
  --ab-cmp-input--placeholder__color: var(--ab-color-text-on-defaultbackground);  
  --ab-cmp-input__font-family: var(--ab__font-family);
  --ab-cmp-input--placeholder__opacity: 0.6;
}
